<div>
  <form id="createRental">
    <input type="text" name="rental[title]" class="clean-update" placeholder="Title">
    <input type="text" name="rental[name]" class="clean-update" placeholder="Name">
    <input type="text" name="rental[city]" class="clean-update" placeholder="City">
    <input type="text" name="rental[description]" class="clean-update" placeholder="Description">
    <input type="text" name="rental[phone]" class="clean-update" placeholder="Phone">
    <input type="submit" name="submit">
  </form>

</div>
