<div>
  <form id="createReview">
    <input type="text" name="review[comment]" class="clean-update" placeholder="Comment">
    <input type="text" name="review[rating]" class="clean-update" placeholder="Rate">
    <input type="hidden" name="review[rentals]" class="clean-update" value="{{key}}">
    <input type="submit" name="submit">
  </form>
</div>
