<div>
  <form id="createRental" class ="forms">
    <input type="text" name="rental[title]" class="clean-update inputs" placeholder="Title" required="required" maxlength="50">
    <input type="text" name="rental[name]" class="clean-update inputs" placeholder="Name" required="required" maxlength="50">
    <input type="text" name="rental[city]" class="clean-update inputs" placeholder="City" required="required" maxlength="50">
    <input type="text" name="rental[description]" class="clean-update inputs" placeholder="Description" required="required" maxlength="50">
    <input type="text" name="rental[phone]" class="clean-update inputs" placeholder="Phone" required="required" maxlength="50">
    <input type="submit" name="submit" class='formbut'>
  </form>
</div>
