{{#each reviews as |review|}}

<div data-id="{{review.id}}" class="card card-inverse card-warning mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <label class="col-sm-2 col-form-label">Comment:</label>
      <br>
      <p>{{review.comment}}</p>
      <label class="col-sm-2 col-form-label">Rating:</label>
      <p>{{review.rating}} stars</p>

    </blockquote>
  </div>
</div>
   </div>
   <br>

{{/each}}
