<div class="card card-inverse card-warning mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <label class="col-sm-2 col-form-label">Comment:</label>

      <p>{{longitude}}</p>
      <p>{{latitude}}</p>
    </blockquote>
  </div>
</div>
   </div>
   <br>
