{{#each reviews as |review|}}

<!-- <div data-id="{{review.id}}" class="card card-inverse card-warning mb-3 text-center"> -->
  <div class="card-block">
    <div id="profile">
      <div class="avatar"></div>
      <div class="avatar-name">{{review.name}}</div>
    </div>

    <div class="review-organise">
      <div class="review-organise">
        <h3>Super Ev</h3>
      </div>
      <div class="review-organise">
        <!-- <label class="col-sm-2 col-form-label">Comment:</label> -->
        <p>{{review.comment}}</p>
      </div>
      <div class="review-organise">
        <!-- <label class="col-sm-2 col-form-label">Rating:</label> -->
        <p>{{review.rating}} stars</p>
      </div>


    </div>
    <!-- <blockquote class="card-blockquote"> -->



    <!-- </blockquote> -->
  </div>
<!-- </div> -->


{{/each}}
