{{#each reviews as |review|}}
<div class="business-card centeres">
  <div class="title">
    <p>{{review.name}}</p>
  </div>
  <div class="content span2">
  <p>{{review.comment}}</p>  <br />

    </span>
  </div>
  <div class="span3">
    <div class="avatar"></div>
    <div class="avatar-name">{{review.name}}</div>
    <!-- <img src="http://www.gravatar.com/avatar/c2b06fbfe35d23dd71368c02157006ee.png" alt="avatar" class="avatar" /> -->
  </div>
  <div class="footer">
    <span class="rating-static rating-{{review.rating}}"></span>
  </div>
</div>

{{/each}}
