{{#each reviews as |review|}}


   <div data-id="{{review.id}}">
     <p>{{review.comment}}</p>
     <p>{{review.rating}}</p>
   </div>
   <br>

{{/each}}
<button type="button" class="btn btn-default create-review" data-id="{{createId}}" name="button">Write review</button>
