<div>
  <form class="submit-review-update" data-id="{{review.id}}">
    <input type="text" name="review[comment]" value="{{review.comment}}" class="clean-update">
    <input type="text" name="review[rating]" value="{{review.rating}}" class="clean-update">
    <input type="hidden" name="review[rentals]" value="{{review.rentals}}" class="clean-update">
    <input type="submit" name="submit">
  </form>

</div>
